body {
	margin: 0px;
	padding: 10px;
	color: #333;
	background-color: #fff;
}
div#logo {
	margin: -10px -10px 0px -10px;
	color: inherit;
	background-color: #333;
	padding: 5px 10px;
}
img { display: block; }
div#candy {
	margin: 0px -10px;
	color: inherit;
	background-color: #ccc;
	background-image: url('../projects/lines02/lines.php?size=1800');
	height: 150px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
table { width: 100%; }
th {
	font: 10px verdana, tahoma, geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #333;
}
h5 {
	color: #999;
	background-color: transparent;
	font: 11px georgia, verdana, tahoma, geneva, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid;
	margin-top: 0px;
}
td {
	font: 10px verdana, tahoma, geneva, sans-serif;
	color: #666;
	background-color: transparent;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
}
table.threeColumn th { }
table.threeColumn td {
	width: 33%;
	padding-right: 20px;
}
table.fourColumn td {
	width: 25%;
	padding-right: 20px;
}
table.fiveColumn td {
	width: 20%;
	padding-right: 20px;
}
div#new {
	border: 1px solid #ccc;
	color: inherit;
	background-color: #eee;
	padding: 10px;
	vertical-align: top;
}
div.content { margin-top: 40px; }
ol {
	list-style-type: upper-alpha;
	list-style-position: inside;
	margin-left: 0px;
	padding-left: 0px;
}
div#categories {
	color: inherit;
	background-color: #f5f5f5;
	padding: 5px 10px;
	margin-left: -10px;
	margin-right: -10px;
}
a, a:link, a:visited {
	color: #3366cc;
	background-color: transparent;
	text-decoration: none;
}
a:hover, a:active {
	color: tranpsarent;
	background-color: #3366cc;
}