* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 40rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    /* line-height: 1.2; */
}

section {
    margin: 2.5rem 0;
}

ol {
    column-count: 2;
    column-fill: balance;
    list-style: none;
    padding: 0;
}

ol li {
    position: relative;
    counter-increment: step-counter;
    padding-left: 2rem;
    break-inside: avoid;
}

ol li:before {
    content: counter(step-counter);
    color: #ccc;
    font-size: smaller;
    position: absolute;
    left: 0;
    top: 0.15rem;
    padding-right: 0.5rem;
    width: 1.3rem;
    display: block;
    text-align: right;
}
ol li:hover:before {
    color: #333;
}

footer {
    font-size: smaller;
    color: #999;
    font-style: italic;
}

a {
    color: #ff0083;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1px;
    margin: 0 -1px;
    border-radius: 2px;
}
a:visited {
    color: #ff72bb;
}
a:hover {
    color: white;
    background-color: #ff0083;
}

section:last-of-type ol {
    column-count: 1;
}

li span.date {
    color: #999;
    font-size: smaller;
    display: block;
    margin-bottom: 0.33rem;
    white-space: nowrap;
}
