BODY {
	margin: 0px;
	background-color: #ddd;
	color: #333;
	font: 11px tahoma, verdana, sans-serif;
}
#container {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-color: #fff;
}
#explanation {
	position: absolute;
	top: 300px;
	left: 0px;
	width: 100%;
	border-top: 2px solid #693;
}
#logo {
	background-color: #9c6;
	color: #fff;
	padding: 5px;
	font: 12px tahoma, verdana, sans-serif;
	border-bottom: 1px solid #693;
}
P {
	margin: 10px;
}
#f {
	padding: 5px;
	font: 10px tahoma, verdana, sans-serif;
	text-align: right;
	background-color: #eee;
	color: #666;
	border: 1px solid #ccc;
}
.inputText {
	border: 1px solid #ccc;
	font: 10px tahoma, verdana, sans-serif;
	color: #666;
	width: 50px;
}
.inputButton {
	border: 2px solid #999;
	font: 10px tahoma, verdana, sans-serif;
	color: #666;
	background-color: #ccc;
	margin-top: 2px;
	width: 100px;
}
.tip {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #eee;
}
A, A:link, A:visited {
	color: #000;
	text-decoration: underline;
}
A:hover, A:active {
	color: #693;
	text-decoration: none;
}