body {
	background-color: #eee;
	margin: 0;
	padding: 10px;
	
	font: 11px tahoma, verdana, arial, sans-serif;
	color: #999;
}

div.container {
	background-color: #fff;
	border: 1px solid #ccc;
}

div#surface {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

img.raindrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

div.choose {
	padding:10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 2;
}
.input {
	border: 1px solid #ccc;
	background-color: #eee;
	font: 11px tahoma, verdana, arial, sans-serif;
	color: #999;
	width: 20px;
}
.button {
	border: 2px solid #999;
	background-color: #ccc;
	font: 11px tahoma, verdana, arial, sans-serif;
	color: #666;
	margin-top:5px;
}


div#explanation {
    margin-left: 512px;
    padding: 10px;
}
div#explanation img {
	padding-right: 10px;
	padding-bottom: 10px;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

a:link, a:visited, a {
	color: #666;
	text-decoration: none;
}
a:hover, a:active {
	color: #3399ff;
	text-decoration: underline;
}