* { margin: 0; padding: 0; }

body {
    background-color: #fff;
    color: #333;
    font: 12px Helvetica, Arial, sans-serif;
    display: table;
    padding: 4em;
}

header img { display: block; }

header, section {
    display: table-cell;
    vertical-align: top;
    padding-right: 4em;
}
section:last-child { padding-right: 0; }

h2 {
    font-size: 1em;
    font-weight: bold;
}
ol {
    
}
li {
    display: block;
}
li a {
    display: block;
    text-decoration: none;
    color: #999;
    padding: .25em 0;
}
li a:hover {
    color: #369;
}