* { margin: 0; padding: 0; }

body {
    background-color: #fff;
    color: #333;
    font-family: helvetica;
}

header {
    position: fixed;
    bottom: 1em;
    left: 1em;
    background-color: #fff;
}
header img { display: block; }

section {
    display: table-cell;
    vertical-align: top;
}
section:last-child { padding-right: 0; }

h2 {
    color: #fff;
    background-color: #333;
    font-size: 2em;
    white-space: nowrap;
    padding: 1.5em 1em .125em .5em;
    font-weight: normal;
}
ol {
    background-color: #fff;
    border-top: 1px solid #111;
}
li {
    display: block;
    float: left;
}
li a {
    display: block;
    padding: .4em .8em;
    text-decoration: none;
    font-size: 1.6em;
    color: #999;
}
li a:hover {
    color: #369;
}