html {
    display: table;
    height: 100%;
    width: 100%;
}

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

canvas {
    display: block;
    background-color: #fff;
    border: 20px solid #fff;
    margin: 0 auto;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}