body {
    margin: 0;
    padding: 1em;
}

.python .comment {
    color : green;
}

.python .string {
    color : teal;
}

.python .docstring {
    color: orange;
}

.python .keywords {
    color : navy;
}

.python .brackets {
    color : navy;
}
