html, body, h1, h2, h3, h4, h5, h6, h7, div, p {
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    background-image: url(lines.py);
    color: #333;

	font-family: Georgia, serif;
	font-size: 11px;
}

a, a:link, a:visited {
	color: #930;
}
a:hover {
	text-decoration: none;
}

div#header, div#content {
	margin: 0;
	padding: 10px 0;
}
div#header {
    background: transparent url(backgrounds/stripe.png) bottom left repeat-x;
	padding-bottom: 13px; /* to compensate for the drop shadow in the background */
}
div#content {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: transparent url(backgrounds/stripe.png) top left repeat-x;
	padding-top: 13px; /* to compensate for the drop shadow in the background */
}

/* feed Internet Explorer transparent gifs, instead */
* html div#header {
	background: transparent url(backgrounds/stripe.gif) bottom left repeat-x;
}
* html div#content {
	background: transparent url(backgrounds/stripe.gif) top left repeat-x;
}

div#header h1, div#header h2 {
    padding: 0 10px;
}


h1, h2, h3 {
    font-weight: bold;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.25em;
}
h3 {
    font-size: 1.1em;
}

#content div.columns {
    border-top: 1px solid #eee;
    padding: 10px 0;
    min-width: 915px;
}
#content div.column {
    float: left;
    width: 275px;
    margin-right: 10px;
    padding: 0 10px;
}

p {
    margin-bottom: 1em;
    clear: both;
}
p.hint {
	padding: 5px 15px;
	margin-top: -10px;
	margin-bottom: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    text-align: right;
}
p.retourner {
    padding: 10px;
    font-size: 1.25em;
    font-weight: bold;
}

ol {
	margin-top: 0;
}

input {
    font-size: 11px;
    border-width: 1px;
}
input#width, input#height {
    background-color: #eee;
    border-color: #666;
}
input {
    border-color: #333;
    background-color: #ccc;
}
